<!DOCTYPE html>
<html class="accesorios" lang="en">
<%- include('../partials/head');%>

    <body>
        <%- include('../partials/header');%>
            <main>
                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li>Accesorios</li>
                </ul>

                <section>
                    <div class="product-accesory">
                        <div class="barr">
                            <div class="stable">
                                <span>Accesorios</span>
                            </div>
                            <div class="moving">
                                <span><p>Mochilas, cinturones, guantes, sombreros, máscaras.</p></span>
                            </div>
                        </div>
                        <div class="accesory-container">
                            <% for(let i = 0;i<products.length;i++) { %>
                                <% if(products[i].category_id =="2") {%>
                                    <article class="myAccesorySlides fade">
                                        <a href="/products/<%= products[i].id  %> ">
                                            <img src="/images/products/2/<%=images[i].imagename%>">
                                            <span class="accesory-detail"><%= products[i].name %> </span>
                                            <span class="accesory-price"><%= products[i].price %> </span>
                                            <button class="accesorybutton">Agregar al carrito</button>
                                        </a>
                                    </article>
                                    <%  } %>
                                        <% } %>
                                            <a class="prev" onclick="accesoryplusSlides(-1)">&#10094;</a>
                                            <a class="next" onclick="accesoryplusSlides(1)">&#10095;</a>
                        </div>
                    </div>
                    <div class="interludio">
                    </div>
                </section>
            </main>
            <%- include('../partials/footer'); %>
                <script src="../../js/menu.js"></script>
    </body>

</html>