<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {});%>

    <body>
        <%- include('../partials/header');%>
            <main>
                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li>
                        <a href="<%=images.product.category.name%> ">
                            <%=images.product.category.name%>
                        </a>
                    </li>
                    <li>Detalle</li>
                </ul>
                <form action="./cart" method="POST">
                    <div class="main-container-product">
                        <div class="rowimages">
                            <div class="column">
                                <% if(images.imagename) { %>
                                    <img src="../images/products/<%=images.product.category.id%>/<%=images.imagename%>">
                                    <%  } %>
                                        <% if(images.imageback) { %>
                                            <img src="../images/products/<%=images.product.category.id%>/<%=images.imageback%>">
                                            <%  } %>
                            </div>
                            <!-- <div class="column">
                                <% if(images.imagename[3]) { %>
                                    <img src="../images/products/<%=images.product.category.id%>/<%=images.imagename%>">
                                    <%  } %>
                                        <% if(images.imagename[4]) { %>
                                            <img src="../images/products/<%=images.product.category.id%>/<%=images.imagename.filename%>">
                                            <%  } %>
                            </div>-->
                        </div>

                        <div class="main-product">
                            <img src="../images/products/<%=images.product.category.id%>/<%=images.imagename%>">
                        </div>

                        <div class="details-products">
                            <h3>
                                <%=images.product.name %>
                            </h3>
                            <span><%=toThousand(images.product.price) %></span>
                            <br>
                            <label for="description">Descripcion:</label>
                            <p>
                                <%= images.product.description %>
                            </p>

                            <%if(images.product.category == 'indumentaria'){ %>
                                <label for="cantidad">Tamaño:</label>
                                <select type="text" name="size" id="size">
                                <option value="xs">XS</option>
                                <option value="s">S</option>
                                <option value="m">M</option>
                                <option value="l">L</option>
                                <option value="xl">XL</option>
                                </select>
                                <%      }  %>
                                    <button type="submit">Agregar al carrito</button>
                        </div>
                    </div>
                </form>
                <% if(locals.user && user.type_id == '1'){ %>
                    <!-- category 1 lo defini como si fuera el administrador.-->

                    <div class="detail-editanddelete">
                        <a href="/products/<%=images.product.id%>/edit ">Editar</a>
                        <form action="/products/<%=images.product && images.product.id%>?_method=DELETE" method="POST">
                            <button type="submit">Eliminar</button>
                        </form>
                    </div>
                    <%  } %>

            </main>
            <%- include('../partials/footer'); %>
                <script src="../../js/menu.js"></script>
                <script src="../js/productDetail.js"></script>
    </body>

</html>