<!DOCTYPE html>
<html class="home" lang="en">
<%- include('../partials/head');%>

    <body>
        <%- include('../partials/header');%>
            <main>
                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li>Hogar</li>
                </ul>

                <section>
                    <div class="product-home">
                        <div class="barr">
                            <div class="stable">
                                <span>Hogar</span>
                            </div>
                            <div class="moving">
                                <span><p>Tapices, atrapasueños, decorativos.</p></span>
                            </div>
                        </div>
                        <div class="home-container">
                            <% for(let i = 0;i<products.length;i++) { %>
                                <% if(products[i].category_id =="4") {%>
                                    <article class="myHomeSlides fade">
                                        <a href="/products/<%= products[i].id  %>">
                                <img src="/images/products/4/<%= images[i].imagename  %> ">
                                <span class="home-detail"><%= products[i].name %> </span>
                                <span class="home-price"><%= products[i].price %> </span>                         
                                <button class="homebutton">Agregar al carrito</button>
                            </a>
                                    </article>
                                    <%  } %>
                                        <% } %>
                                            <a class="prev" onclick="homeplusSlides(-1)">&#10094;</a>
                                            <a class="next" onclick="homeplusSlides(1)">&#10095;</a>
                        </div>

                    </div>
                    <div class="interludio">
                    </div>
                </section>

            </main>
            <%- include('../partials/footer'); %>
                <script src="../../js/menu.js"></script>
    </body>

</html>