<!DOCTYPE html>
<html class="home" lang="en">
<%- include('../partials/head');%>

    <body>
        <%- include('../partials/header');%>
            <main>
                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><a href="/products/indumentaria">Indumentaria</a></li>
                    <li>Hombres</li>
                </ul>
                <section>
                    <div class="product-home">
                        <div class="barr">
                            <div class="stable">
                                <span>Hombres</span>
                            </div>
                            <div class="moving">
                                <span><p>Solo ellos.</p></span>
                            </div>
                        </div>
                        <div class="home-container">
                            <% for(let i = 0;i<images.length;i++) { %>
                                <% if(products[i].gender =="Male") {%>
                                    <article class="myHomeSlides fade">
                                        <a href="/products/<%= products[i].id  %>">
                                <img src="/images/products/1/<%=images[i].imagename  %> ">
                                <span class="home-detail"><%= products[i].name %> </span>
                                <% let preciomen = products[i].price  %>
                                <span class="home-price"><%=`$${toThousand(preciomen)}`%></span>                   
                                <button class="homebutton">Agregar al carrito</button>
                            </a>
                                    </article>
                                    <%  } %>
                                        <% } %>
                                            <a class="prev" onclick="homeplusSlides(-1)">&#10094;</a>
                                            <a class="next" onclick="homeplusSlides(1)">&#10095;</a>
                        </div>
                    </div>
                    <div class="interludio">

                    </div>
                </section>

            </main>
            <%- include('../partials/footer'); %>
                <script src="../../js/menu.js"></script>
    </body>

</html>