<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', {title: 'Formulario de edición'}) %>

    <body>
        <!-- Header -->
        <%- include('../partials/header') %>
            <!-- /Header -->

            <div class="container-productscreation">
                <div class="row">
                    <div class="col-12">
                        <h2 class="products-title"><i class="fas fa-moon"></i>Estás editando:
                            <%=product && product.name%>
                        </h2>
                    </div>
                </div>
                <div class="product-creation">
                    <form action="/products/<%=product && product.id%>?_method=PUT" method="POST" id="edicion-form" enctype="multipart/form-data">
                        <div class="row product-detail">
                            <div class="detail-create">
                                <label for="name" class="form-label">Nombre del producto:</label>
                                <input type="text" id="name" name="name" class="form-input" value="<%=product && product.name%> ">
                            </div>
                            <div class="feedback-front">
                            </div>
                            <hr>
                            <div class="detail-create">
                                <label for="price" class="form-label">Precio del producto:</label>
                                <input type="text" id="price" name="price" class="form-input" value="<%=toThousand(product && product.price) %> ">
                            </div>
                            <div class="feedback-front">
                            </div>
                            <hr>
                            <!-- <div class="detail-create">
                                <label for="discount" class="form-label">Descuento:</label>
                                <input type="text" id="discount" name="discount" placeholder="Ej: 15" class="form-input">
                            </div>-->
                            <div class="detail-create">
                                <label for="category" class="form-label">Categoría:</label>
                                <select name="category" id="category" class="form-input">
                                    <% categoria.forEach(category => { %>
                                        <option value="<%=category.id%>"><%=category.name%></option>                                       
                                  <%  }); %> 
						</select>
                            </div>
                            <hr>
                            <div class="detail-create">
                                <label for="size">Tamaño</label>
                                <select name="size" id="size">
                                    <option value="<%=product && product.size%>"><%=product && product.size%></option>
                                    <option value="xs">XS</option>
                                    <option value="s">S</option>
                                    <option value="m">M</option>
                                    <option value="l">L</option>
                                    <option value="xl">XL</option>
                                    <option value="2xl">2XL</option>
                                </select>
                            </div>
                            <hr>
                            <div class="detail-create">
                                <label for="description" class="form-label">Descripción:</label>
                                <textarea name="description" id="description" class="form-input"><%=product && product.description %> </textarea>
                            </div>
                            <div class="feedback-front">
                            </div>
                            <hr>
                            <div class="detail-create">
                                <img src="/images/products/<%=product.category_id%>/<%=product && image.imagename %>" class="image-edit" alt="">
                            </div>
                            <div class="detail-create">
                                <label for="imagename">Seleccionar una nueva imagen:</label>
                                <input type="file" name="imagename" multiple>
                            </div>
                            <hr>
                            <div class="creation-submit">
                                <button type="submit">Editar producto</button>
                                <a href="/">Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- footer -->
            <%- include('../partials/footer') %>
                <script src="../../js/menu.js"></script>
                <script src="../../js/edicionproductos.js"></script>
                <script src="../../js/validator.min.js"></script>
                <!-- /footer -->
    </body>

</html>