<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', {title: 'Formulario de creación'}) %>

    <body>
        <!-- Header -->
        <%- include('../partials/header') %>
            <!-- /Header -->

            <div class="container-productscreation">
                <div class="row">
                    <div class="col-12">
                        <h2 class="products-title"><i class="fas fa-moon"></i> Formulario de creación de productos</h2>
                        <% locals.errors %>
                    </div>
                </div>
                <div class="product-creation">
                    <form action="/products" method="POST" enctype="multipart/form-data">
                        <div class="row product-detail">
                            <div class="detail-create">
                                <label for="name" class="form-label">Nombre del producto:</label>
                                <input type="text" id="name" name="name" placeholder="Ej: Zapatillas Reebok" class="form-input <%=locals.errors && errors.name ? ' is-danger' : ' ' %>" value="<%=locals.products ? products.name: ' ' %> ">
                            </div>
                            <p class="feedback<%=locals.errors && errors.name ? ' is-danger' : ' '  %>">
                                <%=locals.errors && errors.name ? errors.name.msg: ' ' %>
                            </p>

                            <hr>
                            <div class="detail-create">
                                <label for="price" class="form-label">Precio del producto:</label>
                                <input type="text" id="price" name="price" placeholder="Ej: 5678" class="form-input <%=locals.errors && errors.price ? ' is-danger' : ' ' %>" value="<%=locals.products ? products.price: ' ' %> ">

                            </div>
                            <p class="feedback<%=locals.errors && errors.price ? ' is-danger' : ' '  %>">
                                <%=locals.errors && errors.price ? errors.price.msg: ' ' %>
                            </p>

                            <hr>
                            <!-- <div class="detail-create">
                                <label for="discount" class="form-label">Descuento:</label>
                                <input type="text" id="discount" name="discount" placeholder="Ej: 15" class="form-input">
                            </div>-->
                            <div class="detail-create">
                                <label for="category" class="form-label">Categoría:</label>
                                <select name="category" id="category" class="form-input <%=locals.errors && errors.category ? ' is-danger' : ' ' %>">
							<option value="">Elegí</option>
							<option value="1">Indumentaria</option>
                            <option value="2">Accesorios</option>
                            <option value="3">Bijouterie</option>
                            <option value="4">Hogar</option>
                        </select>
                            </div>
                            <p class="feedback<%=locals.errors && errors.category ? ' is-danger' : ' '  %>">
                                <%=locals.errors && errors.category ? errors.category.msg: ' ' %>
                            </p>
                            <hr>
                            <div class="detail-create" id="checkbox2">
                                <label for="size">Tamaño</label>
                                <select name="size" id="size" multiple>
                                    <option value="">Elegi</option>
                                    <option value="1">XS</option>
                                    <option value="2">S</option>
                                    <option value="3">M</option>
                                    <option value="4">L</option>
                                    <option value="5">XL</option>
                                    <option value="6">2XL</option>
                                </select>
                            </div>
                            <hr>
                            <div class="detail-create" id="checkbox3">
                                <label for="size">Genero</label>
                                <select name="gender" id="size">
                                    <option value="">Elegi</option>
                                    <option value="Male">Masculino</option>
                                    <option value="Female">Female</option>
                                  >
                                </select>
                            </div>
                            <hr>
                            <div class="detail-create">
                                <label for="description" class="form-label">Descripción:</label>
                                <textarea name="description" id="description" class="form-input <%=locals.errors && errors.description ? ' is-danger' : ' ' %>"><%=locals.products ? products.description: ' ' %></textarea>
                            </div>
                            <p class="feedback <%=locals.errors && errors.description ? ' is-danger' : ' ' %>">
                                <%=locals.errors && errors.description ? errors.description.msg : ' ' %>
                            </p>
                            <hr>
                            <div class="detail-create">
                                <label for="imagename">Imagen (Entre 1 y 2 imagenes)</label>
                                <input type="file" name="imagename" multiple>
                            </div>
                            <!--<div class="detail-create">
                                <label for="imageback">Imagen (seleccione otra imagen)</label>
                                <input type="file" name="imageback">
                            </div>-->
                            <p class="feedback <%=locals.errors && errors.imagename ? ' is-danger' : ' ' %>">
                                <%=locals.errors && errors.imagename ? errors.imagename.msg : ' ' %>
                            </p>
                            <hr>
                            <div class="creation-submit">
                                <button type="submit">Guardar producto</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <!-- /todos los productos -->

            <!-- footer -->
            <%- include('../partials/footer') %>
                <script src="../../js/cargayedicion.js"></script>
                <!-- /footer -->
    </body>

</html>