<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head');%>

    <body>
        <%- include('../partials/header');%>

            <main>
                <div class="slideshow-container">

                    <div class="mySlides fade">

                        <img src="../images/a1.png" style="width:100%">

                    </div>

                    <div class="mySlides fade">

                        <img src="../images/a2.jpg" style="width:100%">

                    </div>
                    <div class="mySlides fade">

                        <img src="../images/a3.jpg" style="width:100%">

                    </div>

                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>
                <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                </div>
                <div class="interludio">
                    <p>Nuestros productos</p>

                </div>
                <section>
                    <div class="product-clothes">
                        <div class="barr">
                            <div class="stable">
                                <span>Indumentaria</span>
                            </div>
                            <div class="moving">
                                <span>
                                    <p>Gótica, post-apocalíptica, punk, steampunk.</p></span>
                            </div>
                        </div>
                        <!---->
                        <div class="clothes-container">
                            <% for(let i = 0;i<products.length;i++) { %>
                                <% if(products[i].category =="indumentaria") {%>
                                    <a href="/products/<%= products[i].id  %> ">
                                        <article class="myclothesSlides fade">
                                            <img src="/images/products/indumentaria/<%= products[i].image  %> ">
                                            <span class="clothes-detail"><%=products[i].name%></span>
                                            <span class="clothes-price"><%=products[i].price%></span>

                                            <button class="clothesbutton">Agregar al carrito</button>
                                        </article>
                                    </a>
                                    <%  } %>
                                        <% } %>
                                            <a class="prev" onclick="clothesplusSlides(-1)">&#10094;</a>
                                            <a class="next" onclick="clothesplusSlides(1)">&#10095;</a>

                        </div>
                        <a class="seemore" href="/products/indumentaria">
                            <p>Ver más</p>
                        </a>
                    </div>
                    <div class="interludio">
                    </div>
                </section>
                <section>
                    <div class="product-accesory">
                        <div class="barr">
                            <div class="stable">
                                <span>Accesorios</span>
                            </div>
                            <div class="moving">
                                <span><p>Mochilas, cinturones, guantes, sombreros, máscaras.</p></span>
                            </div>
                        </div>
                        <div class="accesory-container">
                            <% for(let j = 0;j<products.length;j++) { %>
                                <% if(products[j].category =="accesorios") {%>
                                    <a href="/products/<%= products[j].id  %> ">
                                        <article class="myAccesorySlides fade">
                                            <img src="../images/products/accesorios/<%= products[j].image %> ">
                                            <span class="accesory-detail"><%= products[j].name  %> </span>
                                            <span class="accesory-price"><%= products[j].price%> </span>

                                            <button class="accesorybutton">Agregar al carrito</button>
                                        </article>
                                    </a>
                                    <%  } %>
                                        <% } %>
                                            <a class="prev" onclick="accesoryplusSlides(-1)">&#10094;</a>
                                            <a class="next" onclick="accesoryplusSlides(1)">&#10095;</a>
                        </div>
                        <a class="seemore" href="/products/accesorios">
                            <p>Ver más</p>
                        </a>
                    </div>

                    <div class="interludio">
                        <div class="legend">
                            <h2>Occult Luxury</h2>
                            <p>Nosotros...</p>
                            <div class="banner-publicity">
                                <span>Compra Segura<i class="fas fa-lock iconbanner"></i></span>
                                <span>Envío rapido<i class="fas fa-truck iconbanner"></i></span>
                                <span>6 cuotas sin interes</span>
                                <img src="../images/tarjetas.png">
                            </div>
                        </div>
                        <div class="imag-banner">
                            <img src="../images/banner.jpg">

                        </div>
                    </div>
                </section>
                <section>
                    <div class="product-bijoux">
                        <div class="barr">
                            <div class="stable">
                                <span>Bijouterie</span>
                            </div>
                            <div class="moving">
                                <span><p>Anillos, aros, brazaletes, collares.</p></span>
                            </div>
                        </div>
                        <div class="bijoux-container">
                            <% for(let k = 0;k<products.length;k++) { %>
                                <% if(products[k].category =="bijouterie") {%>
                                    <a href="/products/<%=products[k].id %>">
                                        <article class="myBijouxSlides fade">
                                            <img src="../images/products/bijouterie/<%=products[k].image %> ">
                                            <span class="bijoux-detail"><%= products[k].name %>  </span>
                                            <span class="bijoux-price"><%=products[k].price %></span>


                                            <button class="bijouxbutton">Agregar al carrito</button>
                                        </article>
                                    </a>
                                    <% } %>
                                        <% } %>
                                            <a class="prev" onclick="bijouxplusSlides(-1)">&#10094;</a>
                                            <a class="next" onclick="bijouxplusSlides(1)">&#10095;</a>
                        </div>
                        <a class="seemore" href="/products/bijouterie">
                            <p>Ver más</p>
                        </a>
                    </div>
                    <div class="interludio">

                    </div>
                </section>

                <section>
                    <div class="product-home">
                        <div class="barr">
                            <div class="stable">
                                <span>Hogar</span>
                            </div>
                            <div class="moving">
                                <span><p>Tapices, atrapasueños, decorativos.</p></span>
                            </div>
                        </div>
                        <div class="home-container">
                            <% for(let l = 0;l<products.length;l++) { %>
                                <% if(products[l].category =="home") {%>
                                    <a href="/products/<%= products[l].id %> ">
                                        <article class="myHomeSlides fade">
                                            <img src="../images/products/home/<%= products[l].image %> ">
                                            <span class="home-detail"><%= products[l].name %> </span>
                                            <span class="home-price"><%=products[l].price%> </span>

                                            <button class="homebutton">Agregar al carrito</button>
                                        </article>
                                    </a>
                                    <% } %>
                                        <% } %>
                                            <a class="prev" onclick="homeplusSlides(-1)">&#10094;</a>
                                            <a class="next" onclick="homeplusSlides(1)">&#10095;</a>
                        </div>
                        <a class="seemore" href="/products/home">
                            <p>Ver más</p>
                        </a>
                    </div>
                    <div class="interludio">

                    </div>

                </section>


            </main>
            <%- include('../partials/footer'); %>
                <script src="../../js/menu.js"></script>
    </body>

</html>