<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head');%>

    <body>
        <%- include('../partials/header');%>
            <main>
                <!-- Fisher–Yates Shuffle - Por que? Quiero que cada vez que se cargue la pagina el orden de los productos sea aleatorio-->
                <% 
                Array.prototype.shuffle = function() {
    let i = this.length,
        j, temp;
    while (--i > 0) {
        j = Math.floor(Math.random() * (i + 1));
        temp = this[j];
        this[j] = this[i];
        this[i] = temp;
    }
    return this;
}  %>
                    <!--Slide Banner-->

                    <div class="slideshow-container">
                        <div class="mySlides fade">
                            <a class="women" href="/products/women">
                                <p>Mujeres</p>
                            </a>
                            <a class="men" href="/products/men">
                                <p>Hombres</p>
                            </a>
                            <p class="animate_legend">Gótica, Post-apocalíptica, Steampunk, Punk.</p>
                            <p class="animate_legendplus">Moda alternativa</p>
                            <img src="../images/a1.jpg" style="width:100%">
                        </div>
                        <div class="mySlides fade">
                            <a class="indumentaria" href="/products/indumentaria">
                                <p>Indumentaria</p>
                            </a>
                            <a class="accesorios" href="/products/accesorios">
                                <p>Accesorios</p>
                            </a>
                            <a class="bijouterie" href="/products/bijouterie">
                                <p>Bijouterie</p>
                            </a>
                            <a class="hogar" href="/products/home">
                                <p>Hogar</p>
                            </a>
                            <p class="animate_legend_second">Envio gratis en todos los pedidos superiores a $1.000.</p>
                            <img src="../images/a2.jpg" style="width:100%">
                        </div>
                        <div class="mySlides fade">
                            <a class="indumentaria" href="/products/bijouterie">
                                <p>Destacados</p>
                            </a>
                            <a class="accesorios" href="/products/bijouterie">
                                <p>Ofertas</p>
                            </a>
                            <p class="animate_legend_second">Hasta 30% de descuento.</p>
                            <img src="../images/a3.jpg" style="width:100%">
                        </div>
                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>
                    </div>
                    <div style="text-align:center">
                        <span class="dot" onclick="currentSlide(1)"></span>
                        <span class="dot" onclick="currentSlide(2)"></span>
                        <span class="dot" onclick="currentSlide(3)"></span>
                    </div>
                    <div class="interludio-high">
                        <p>Nuestro catalogo...</p>
                        <div class="interludio-subcontainer">
                            <a href="#" id="destacados-show">
                                <p>Destacados</p>
                            </a>
                            <a href="#" id="ofertas-show">
                                <p>Ofertas</p>
                            </a>
                        </div>
                    </div>

                    <!--Destacados-->

                    <section id="destacado">
                        <div class="product-destacados">
                            <div class="barr">
                                <div class="stable">
                                    <span>Destacados</span>
                                </div>
                                <div class="moving">
                                    <span>
                                    <p>Lo mas destacado.</p></span>
                                </div>
                            </div>
                            <div class="destacados-container">
                                <% let randomdestacados = images.shuffle()%>
                                    <% for(let i = 0;i<randomdestacados.length;i++) { %>
                                        <% if(randomdestacados[i].product.new ==1) {%>
                                            <a href="/products/<%= randomdestacados[i].product.id  %> ">
                                                <article class="mydestacadosSlides fade">
                                                    <div id=diamond-shield>
                                                        <span class="novedad">Novedad</span>
                                                    </div>
                                                    <img src="/images/products/<%=randomdestacados[i].product.category_id%>/<%=randomdestacados[i].imagename %> ">
                                                    <span class="clothes-detail"><%=randomdestacados[i].product.name%></span>
                                                    <span class="clothes-price"><%=randomdestacados[i].product.price%></span>
                                                    <button class="clothesbutton">Agregar al carrito</button>
                                                </article>
                                            </a>
                                            <%  } %>
                                                <% } %>
                                                    <a class="prev" onclick="destacadosplusSlides(-1)">&#10094;</a>
                                                    <a class="next" onclick="destacadosplusSlides(1)">&#10095;</a>
                            </div>
                        </div>
                        <div class="interludio">
                        </div>
                    </section>

                    <!--Ofertas-->

                    <section id="ofertas">
                        <div class="product-sale">
                            <div class="barr">
                                <div class="stable">
                                    <span>Ofertas</span>
                                </div>
                                <div class="moving">
                                    <span>
                                    <p><b>Descuentos especiales. 30% OFF!!!</b></p></span>
                                </div>
                            </div>
                            <div class="sale-container">
                                <% let randomsale = images.shuffle()%>
                                    <% for(let i = 0;i<randomsale.length;i++) { %>
                                        <% if(randomsale[i].product.sale ==true) {%>
                                            <a href="/products/<%= randomsale[i].product.id  %> ">
                                                <article class="mysaleSlides fade">
                                                    <div id=diamond-shield>
                                                        <span class="novedad">Oferta!</span>
                                                    </div>
                                                    <img src="/images/products/<%=randomsale[i].product.category_id%>/<%=randomsale[i].imagename %> ">
                                                    <span class="clothes-detail"><%=randomsale[i].product.name%></span>
                                                    <span class="clothes-price"><%=randomsale[i].product.price%></span>
                                                    <button class="clothesbutton">Agregar al carrito</button>
                                                </article>
                                            </a>
                                            <%  } %>
                                                <% } %>
                                                    <a class="prev" onclick="saleplusSlides(-1)">&#10094;</a>
                                                    <a class="next" onclick="saleplusSlides(1)">&#10095;</a>
                            </div>
                        </div>
                        <div class="interludio">
                        </div>
                    </section>

                    <!-- Indumentaria-->

                    <section>
                        <div class="product-clothes">
                            <div class="barr">
                                <div class="stable">
                                    <span>Indumentaria</span>
                                </div>
                                <div class="moving">
                                    <span>
                                    <p>Gótica, post-apocalíptica, punk, steampunk.</p></span>
                                </div>
                            </div>
                            <div class="clothes-container">
                                <% let randomclothes = images.shuffle()%>
                                    <% for(let i = 0;i<randomclothes.length;i++) { %>
                                        <% if(randomclothes[i].product.category_id =="1") {%>
                                            <a href="/products/<%= randomclothes[i].product.id  %> ">
                                                <article class="myclothesSlides fade">
                                                    <img src="/images/products/1/<%=images[i].imagename%> ">
                                                    <span class="clothes-detail"><%=randomclothes[i].product.name%></span>
                                                    <span class="clothes-price"><%=randomclothes[i].product.price%></span>
                                                    <button class="clothesbutton">Agregar al carrito</button>
                                                </article>
                                            </a>
                                            <%  } %>
                                                <% } %>
                                                    <a class="prev" onclick="clothesplusSlides(-1)">&#10094;</a>
                                                    <a class="next" onclick="clothesplusSlides(1)">&#10095;</a>
                            </div>
                            <a class="seemore" href="/products/indumentaria">
                                <p>Ver más</p>
                            </a>
                        </div>
                        <div class="interludio">
                        </div>
                    </section>

                    <!--Accesorios-->

                    <section>
                        <div class="product-accesory">
                            <div class="barr">
                                <div class="stable">
                                    <span>Accesorios</span>
                                </div>
                                <div class="moving">
                                    <span><p>Mochilas, cinturones, guantes, sombreros, máscaras.</p></span>
                                </div>
                            </div>
                            <div class="accesory-container">
                                <% let randomaccesory =images.shuffle()%>
                                    <% for(let j = 0;j<randomaccesory.length;j++) { %>
                                        <% if(randomaccesory[j].product.category_id =="2") {%>
                                            <a href="/products/<%= randomaccesory[j].product.id  %> ">
                                                <article class="myAccesorySlides fade">
                                                    <img src="../images/products/2/<%= randomaccesory[j].imagename %> ">
                                                    <span class="accesory-detail"><%= randomaccesory[j].product.name  %> </span>
                                                    <span class="accesory-price"><%= randomaccesory[j].product.price%> </span>
                                                    <button class="accesorybutton">Agregar al carrito</button>
                                                </article>
                                            </a>
                                            <%  } %>
                                                <% } %>
                                                    <a class="prev" onclick="accesoryplusSlides(-1)">&#10094;</a>
                                                    <a class="next" onclick="accesoryplusSlides(1)">&#10095;</a>
                            </div>
                            <a class="seemore" href="/products/accesorios">
                                <p>Ver más</p>
                            </a>
                        </div>
                        <div class="interludio">
                            <div class="legend">
                                <h2>Occult Luxury</h2>
                                <p>Nosotros...</p>
                                <div class="banner-publicity">
                                    <span>Compra Segura<i class="fas fa-lock iconbanner"></i></span>
                                    <span>Envío rapido<i class="fas fa-truck iconbanner"></i></span>
                                    <span>6 cuotas sin interes</span>
                                    <img src="../images/tarjetas.png">
                                </div>
                            </div>
                            <div class="imag-banner">
                                <img src="../images/banner.jpg">
                            </div>
                        </div>
                    </section>

                    <!--Bijouterie-->

                    <section>
                        <div class="product-bijoux">
                            <div class="barr">
                                <div class="stable">
                                    <span>Bijouterie</span>
                                </div>
                                <div class="moving">
                                    <span><p>Anillos, aros, brazaletes, collares.</p></span>
                                </div>
                            </div>
                            <div class="bijoux-container">
                                <% let randombijoux = images.shuffle()%>
                                    <% for(let k = 0;k<randombijoux.length;k++) { %>
                                        <% if(randombijoux[k].product.category_id =="3") {%>
                                            <a href="/products/<%=randombijoux[k].product.id %>">
                                                <article class="myBijouxSlides fade">
                                                    <img src="../images/products/3/<%=randombijoux[k].imagename %> ">
                                                    <span class="bijoux-detail"><%= randombijoux[k].product.name %>  </span>
                                                    <span class="bijoux-price"><%=randombijoux[k].product.price %></span>
                                                    <button class="bijouxbutton">Agregar al carrito</button>
                                                </article>
                                            </a>
                                            <% } %>
                                                <% } %>
                                                    <a class="prev" onclick="bijouxplusSlides(-1)">&#10094;</a>
                                                    <a class="next" onclick="bijouxplusSlides(1)">&#10095;</a>
                            </div>
                            <a class="seemore" href="/products/bijouterie">
                                <p>Ver más</p>
                            </a>
                        </div>
                        <div class="interludio">
                        </div>
                    </section>

                    <!--Hogar-->

                    <section>
                        <div class="product-home">
                            <div class="barr">
                                <div class="stable">
                                    <span>Hogar</span>
                                </div>
                                <div class="moving">
                                    <span><p>Tapices, atrapasueños, decorativos.</p></span>
                                </div>
                            </div>
                            <div class="home-container">
                                <% let randomhome = images.shuffle()%>
                                    <% for(let l = 0;l<randomhome.length;l++) { %>
                                        <% if(randomhome[l].product.category_id =="4") {%>
                                            <a href="/products/<%= randomhome[l].product.id %> ">
                                                <article class="myHomeSlides fade">
                                                    <img src="../images/products/4/<%= randomhome[l].imagename %> ">
                                                    <span class="home-detail"><%=randomhome[l].product.name %> </span>
                                                    <span class="home-price"><%=randomhome[l].product.price%> </span>
                                                    <button class="homebutton">Agregar al carrito</button>
                                                </article>
                                            </a>
                                            <% } %>
                                                <% } %>
                                                    <a class="prev" onclick="homeplusSlides(-1)">&#10094;</a>
                                                    <a class="next" onclick="homeplusSlides(1)">&#10095;</a>
                            </div>
                            <a class="seemore" href="/products/home">
                                <p>Ver más</p>
                            </a>
                        </div>
                        <div class="interludio">
                        </div>
                    </section>
            </main>
            <%- include('../partials/footer'); %>
                <script src="../../js/menu.js"></script>
                <script src="../../js/menuindex.js"></script>
    </body>

</html>